html,body {
  margin: 0px;
  -webkit-text-size-adjust: 100%;
  width: 100%;
  height: 100vh;
}

img {
  width: 32px;
}

a {
  color: cornflowerblue;
}

.Template {
  /* height: 100vh; */
}

.Header {
  /* position: fixed; */
}

.Footer {
  /* position: fixed; */
}

.Header, .Footer {
  text-align: center;
  color:aliceblue;
  width: 100%;
  margin: auto;
  padding: 16px;
  background-color: #160c1f;
}

.Contents {
  width: 100%;

  
  /* height: 100vh; */
}
/* #root, .App, .Template {
  height: 100vh;
} */

/* https://gimmicklog.com/css3/758/ */
.SideBySide {
  display:flex;
  justify-content:space-between;
}

/* https://love-wave.com/css-waku/ */
.Area {
  margin: 0.5em;
  padding: 2em;
  width: 90%; /*幅の調節*/
  color: #666666; /*文字色*/
  background-color: #f7f7f7; /*背景色*/
  /* border: 4px solid #ccc; 線の太さ・色 */
  border-radius: 16px; /*角の丸み*/
  /* overflow:hidden; */
}

.Blue {
  background-color: #E3F2FD;
  border: 4px solid #90CAF9;
}

.Red {
  background-color: #FFEBEE;
  border: 4px solid #EF9A9A;
}

.White {
  background-color: #ECEFF1;
  border: 4px solid #B0BEC5;
}

.Orange {
  background-color: #FFF3E0;
  border: 4px solid #FFCC80;
}
.Special {
  padding: 0px 30%;
}

.Build {
  /* margin: auto; */
  /* padding: 0px; */
  /* height: 100px; */
}

.Total {
  text-align: center;
  /* font-size: clamp(160px, 1vw, 256px); */
  font-size: 200px;
}

.Counter {
  font-size: 24px;
  line-height: 0; /* 仮 */
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Build img {
  margin: auto;
}

.Counter p {
  padding: 0.6em;
}

.Counter button {
  font-size: 14px;
  color: #f7f7f7;
  width: 32px;
  height: 32px;
  background: #ccc;
  border-radius: 50%;
}
