html,body {
  margin: 0px;
  -webkit-text-size-adjust: 100%;
  width: 100%;
  height: 100vh;

  /* スクロール抑制 */
  overflow: hidden;
}

body {
  /* 背景画像 */
  background-image: url(./images/background.jpeg);
  background-repeat: no-repeat;
  background-size: cover;

  /* フォントファミリー */
  font-family: "Helvetica Neue",
  Arial,
  "Hiragino Kaku Gothic ProN",
  "Hiragino Sans",
  Meiryo,
  sans-serif;
}

img {
  width: 32px;
}

a {
  color: cornflowerblue;
}

.root {
  height: 100vh;
}

.app {
  height: 100vh;
}

.template {
  height: 100vh;
}

.header, .footer {
  width: 100%;
  background-color: #22004b;
  color:aliceblue;
  margin: 0px;

  filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.6));

  /* テキストを中央寄せにする（1行限定） */
  text-align: center;
  height: 50px;
  line-height: 50px;
}

.footer {
  /* 最下部に固定する */
  position: absolute;
  bottom: 0;
}

.contents {
  width: 100%;

  /* ヘッダーとフッターを除いた高さ */
  height: calc(100% - 100px);
}



.side-by-side {
  /* 横並びレイアウト */
  display:flex;
  justify-content:space-between;
}

.area {
  width: 100%;
  color: #666666;
  border-radius: 16px; /*角の丸み*/

  filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.6));

  /* margin, paddingは調整中 */
  margin: 1.0em 0.8em;
  padding: 0px 1em;
}

.blue {
  background-color: rgba(227,242,253,0.85);
  border: 6px solid #42A5F5;  /* 線の太さ・色: Blue 400 */
}

.red {
  background-color: rgba(255,235,238,0.85);
  border: 6px solid #EC407A; /* 線の太さ・色: Pink 400 */
}

.white {
  background-color: rgba(250,250,250,0.85);
  border: 6px solid #9E9E9E; /* 線の太さ・色: Gray 500 */
}

.orange {
  background-color: rgba(255,243,224,0.85);
  border: 6px solid #FFA726; /* 線の太さ・色: Orange 400 */
}

/* 以下、要調整 */
.special {
  padding: 0px 25% 10%;
}

.total {
  text-align: center;
  font-size: clamp(160px, 1vw, 200px);
  /* font-size: 200px; */
}

.counter {
  /* font-size: 24px; */
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.counter > p {
  font-size: 30px;
  width: 3ch;
  margin: 20px 0px;
  text-align:center;
  position:relative;
}
.build img {
  margin: auto;
}

.counter button {
  font-size: 14px;
  color: #f7f7f7;
  width: 48px;
  height: 48px;
  background: #ccc;
  border-radius: 50%;
}