html,body {
  margin: 0px;
  -webkit-text-size-adjust: 100%;
  width: 100%;
  height: 100vh;
}

body {
  background-image: url(./images/background.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
img {
  width: 32px;
}

a {
  color: cornflowerblue;
}

.Template {
  /* height: 100vh; */
}

.Header {
  /* position: fixed; */
  filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.6));
}

.Footer {
  position: absolute;/* ←絶対位置 */
  bottom: 0;
  filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.6));
}

.Header, .Footer {
  text-align: center;
  color:aliceblue;
  width: 100%;
  margin: auto;
  padding: 16px;
  background-color: #22004b;
}

.Contents {
  width: 100%;
  height: 100vh; /* CSS変数をサポートしていないブラウザ用のフォールバック */
  height: calc(var(--vh, 1vh) * 85);
}

/* https://gimmicklog.com/css3/758/ */
.SideBySide {
  display:flex;
  justify-content:space-between;
}

/* https://love-wave.com/css-waku/ */
.Area {
  margin: 1.0em 0.8em;
  padding: 2em;
  width: 90%; /*幅の調節*/
  color: #666666; /*文字色*/
  background-color: #f7f7f7; /*背景色*/
  /* border: 4px solid #ccc; 線の太さ・色 */
  border-radius: 16px; /*角の丸み*/
  /* overflow:hidden; */
  /* height: 100%; */
  filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.6));
}

.blue {
  background-color: rgba(227,242,253,0.85);
  border: 6px solid #42A5F5;  /* Blue 400 */
}

.red {
  background-color: rgba(255,235,238,0.85);
  border: 6px solid #EC407A; /* Pink 400 */
}

.white {
  background-color: rgba(250,250,250,0.85);
  border: 6px solid #9E9E9E; /* Gray 500 */
}

.orange {
  background-color: rgba(255,243,224,0.85);
  border: 6px solid #FFA726; /* Orange 400 */
}
.Special {
  padding: 0px 25% 10%;
}

.Total {
  text-align: center;
  /* font-size: clamp(160px, 1vw, 256px); */
  font-size: 200px;
}

.Counter {
  /* font-size: 24px; */
  line-height: 0; /* 仮 */
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Counter > p {
  font-size: 24px;
  padding: 0.6em;
  width: 2ch;
  text-align:center;
  position:relative;
}
.Build img {
  margin: auto;
}

.Counter button {
  font-size: 14px;
  color: #f7f7f7;
  width: 32px;
  height: 32px;
  background: #ccc;
  border-radius: 50%;
}
